<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <title>Company Admin <%- title  %></title>
    <link
      rel="stylesheet"
      href="./truComponents/bootstrap/dist/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="./css/icons.css" type="text/css" />
    <link
      rel="stylesheet"
      href="css/skins/_all-skins.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="css/AdminLTE.css" type="text/css" />
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>
    <script
      src="truComponents/jquery/dist/jquery.min.js"
      type="text/javascript"
    ></script>
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <link rel="stylesheet" href="css/loader.css">
  </head>
  <body class="hold-transition login-page" style="background-color:#FFF;justify-content: center;">
    <div class="login-box">
      <div class="login-logo">
        <div id="loader" class="loaderContainer" style="display:none;">
          <div class="loader"></div>
        </div>
        
        <!--   <a href="javascript:;"><img src="images/logo/logo.png" width="150px"/> </a> -->
      </div>
      <div class="login-box-body">
        <img src="images/logo/logo.png" class="img-responsive" />
        <br>
        <img src="images/geargray.gif" height="23">&nbsp;&nbsp;<font color=orange>Administration Login</font></img>
       
        <form>
          <div class="form-group has-feedback">
            <input
              type="email"
              id="txtemail"
              value=""
              class="form-control"
              placeholder="Enter Email Id" />
            <span class="fa fa-envelope form-control-feedback"></span>
            <div class="text-danger" id="error_comp_name"></div>
          </div>
          <div class="form-group has-feedback">
            <input
              type="password"
              id="txtpass"
              value=""
              class="form-control"
              placeholder="Enter Password" />
            <a  href="javascript:void();"
              id="btnShowpass"
              class="eyeform form-control-feedback"
              ><i class="fa fa-eye-slash"></i>
            </a>

            <div class="text-danger" id="error_pass"></div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <select
                  class="form-control selectdept"
                  id="cmbDepartment"
                  style="width: 100%;"
                >
                  <option selected="selected">Admin</option>
                  <option>Finance</option>
                  <option>Sales & Management</option>
                  <option>HR</option>
                  <option>IT</option>
                </select>
              </div>
            </div>
            
            <!-- /.col -->
            <div class="col-xs-4">
              <button onclick="return logIn();"
                type="button"
                id="btnLogin"
                class="btn btn-primary btn-block btn-flat" >
                Sign In
              </button>

              <!-- <a type="button" href="pageContainer.html" disabled class="btn btn-primary btn-block btn-flat">By Pass</a> -->
            </div>
            <!-- /.col -->
          </div>
        </form> 
        <a href="<%- linkages.forgot  %>">I forgot my password</a><br />
      </div>
      <!-- /.login-box-body -->
      <footer class="main-footers">
        <center>
          <strong>Copyright &copy; 2021-2025
            <a href="javascript:;">Company Name</a>.</strong>
          <br />All rights reserved.
        </center>
      </footer>
      </div> 
    </div>
    <script src="truComponents/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/alertify.js"></script>
    <script src="js/alertify-init.js"></script> 
   <script src="js/sweetalert2.min.js"></script> 
    <script src="js/sweet-alert.init.js"></script>
    <script src="api/admin/controllers/signIn.js"></script>
  </body>
</html>
