<!DOCTYPE html>
<html>

<head>
    <%- include ('./partials/head'); %>
    <link rel="stylesheet" href="truComponents/bootstrap/dist/css/bootstrap-editable.css">
    <link href="truComponents/bootstrap/dist/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/summary.css">
    <link rel="stylesheet" href="css/permission.css">
    <style>
        .setindvConf>.nav-tabs {
            padding-top: 0;
        }

        .setindvConf>.nav-tabs>li.active>a:hover,
        .setindvConf>.nav-tabs>li.active>a:focus {
            background-color: #fff;
            border: none;
            color: #333;

        }

        .setindvConf>.nav-tabs>li>a:hover {
            color: #333;
        }
        
    </style>
    <%- include ('./partials/lHeader'); %>


    <div class="row ">
        <div id="ConsumerProfLoader" class="loaderContainer" style="display:none;">
            <div class="loader"></div>
        </div>
        <div class="col-md-12 content">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget box-widgets ">
                <div class="box-header">
                    <h3 class="box-title"> <i class="fa fa-lock"></i> Consumer Configurations
                    </h3>                    
                    <hr>
                </div>
                <div class="box-body">
                    <%- include ('./commonConfiguration'); %>

                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/lfooter'); %>
    <script src="truComponents/bootstrap/dist/js/bootstrap-editable.min.js"></script>
    <script src="truComponents/bootstrap/dist/js/bootstrap-toggle.min.js"></script>
    </body>

</html>