<select class="form-control form-control-sm status-dropdownBuy">
  <option value="">All Category</option>
  <option value="buy">Buy</option>
  <option value="redeemCash">Sell</option>
  <option value="transfer">Transfer</option> 
  <option value="walletToBank">Wallet To Bank</option>
  <option value="addMoney">Add Money</option>
</select>
<span class = "help-block">
 By category like Buy , Sell , Transfer etc.
</span>