<div class="btn-group radio-group">             
  <label class="btn btn-warning btn-sm" title="Last 1 Hr"><span style="font-size: 12px;font-weight:bold">Last 1hr</span>
  <input style="border: none" checked id="last1hr" type="radio" value="all" name="lastDay" onclick="callTop5('callTop5Revenue');" />
</label>   
</div>