<select class="form-control form-control-sm" id="operations">
  <option value="">All Operation</option>
  <option value="wallet">Wallet Operation</option>
</select>
<span class = "help-block">
  By truWallet Operation.
</span>