<div class="hidden" id="searchbyinvoice">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-bank"></i></div>
      <input class="form-control inputbox input-md number" id="txtReceiptNo" data-role="tagsinput" type="text" placeholder="Receipt No" data-validation="required"/>
    </div>
</div>