<div class="input-daterange input-group input-group-sm" id="config-demo">
  <i class="input-group-addon b-0">
    <i class="fa fa-calendar"></i>
  </i>
  <span class="form-control"> </span>
</div>
<span class = "help-block">
 By Date wise
</span>
