<!DOCTYPE html>
<html>
<head> 
  <%- include ('./partials/head'); %>
  <body class="skin-blue fixed sidebar-mini sidebar-collapse">
    <div class="wrapper"> 
      <%- include ('./partials/header'); %><div class="content-wrapper"> 
        <div class="containerbg">
<div>
<div class="login-box">
  <div class="login-logo">
    
  <!--   <a href="javascript:;"><img src="images/logo/logo.png" width="150px"/> </a> -->
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <div id="changePassLoader" class="loaderContainer" style="display:none;">
      <div class="loader"></div>
    </div> 
      <img src="images/notifyicon/lock.png" class="center" /> 
    <p class="login-box-msg">Change your password here...</p>

    <form method="post">
      <div class="form-group has-feedback">
        <input type="email" id="txtemail" value="<%- aData.email %>" disabled class="form-control" placeholder="Enter Email Id">
        <span class="fa fa-envelope form-control-feedback"></span>
        <div class="text-danger" id="error_email"></div>
      </div>
      <div class="form-group has-feedback">
            <input type="password" id="txtpassword" class="form-control" placeholder="Enter password">
            <span class="fa fa-lock form-control-feedback"></span>
            <div class="text-danger" id="error_pass"></div>
          </div>

          <div class="form-group has-feedback">
                <input type="password" id="txtcpassword" class="form-control" placeholder="Enter confirm password">
                <span class="fa fa-lock form-control-feedback"></span>
                <div class="text-danger" id="error_cpass"></div>
              </div>
     
      <div class="row">      
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit"  id="btnChange" disabled class="btn btn-primary btn-block btn-flat">Change Password</button>
        </div>
        <!-- <div class="col-xs-6">
                <a class="pull-right" href="index.html">Sign In</a><br>  
              </div> -->
        <!-- /.col -->
      </div>
      <br>
    </form>
 <!--    <button type="button" id="btnLoki" class="btn btn-primary btn-block btn-flat">Add Loki</button> -->
    <!-- /.social-auth-links -->

   

  </div> 
</div>
<!-- /.login-box -->
 
<script src="api/admin/controllers/changePassword.js"></script>
<script src="api/admin/controllers/verifyTPIN.js"></script>
</div></div>
</div>
</div>
<!-- /.content-wrapper --> 
<%- include ('./partials/footer'); %>
</body>
</html>