<!DOCTYPE html>
<html>
<head> 
  <%- include ('./partials/head'); %>
<link rel="stylesheet" href="truComponents/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="css/summary.css">
<body class="skin-blue fixed sidebar-mini sidebar-collapse">
  <div class="wrapper"> 
    <%- include ('./partials/header'); %><div class="content-wrapper"> 
      <div class="containerbg">
  <!-- TO DO List -->
  <div class="col-md-12">
    <div class="box box-success">
      <div id="errorListLoader" class="loaderContainer" style="display:none;">
        <div class="loader"></div>
      </div> 
      <div class="box-header with-border">
        <h3 class="box-title">Error Log</h3>
        <div class="box-tools pull-right">
          <a type="button" class="btn btn-box-tool dashboard" data-widget="remove"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="box-body pull-right">
        <a type="button" onclick="deleteErr(this);" class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i>
          Delete
          All</a>
        <div class="btn-group radio-group">
          <label class="btn btn-warning btn-sm">Consumer <input type="radio" value="Consumer" id="Consumer" checked
              name="Consumer"></label>
          <!-- 
            <label class="btn btn-success btn-sm not-active">Active<input type="radio" id="active" name="pending"
                    onclick="pendingClick(this);" value="active"></label>
            <label class="btn btn-info btn-sm not-active">ON Hold <input type="radio" onclick="pendingClick(this);"
                    id="hold" value="holder" name="pending"></label>
            <label class="btn btn-danger btn-sm not-active">Banned<input type="radio" onclick="pendingClick(this);"
                    id="banned" value="banned" name="pending"></label> -->
        </div>
      </div>
      <div class="box-body">
        <div class="col-lg-12">
          <table id="errorLogList" class="table table-bordered table-striped dt-responsive" style="width: 100%">
            <thead>
              <tr>
                <th>Error Message</th>
                <th>Date Time</th>
                <th>User / TruID</th>
                <th>Occured on Routes</th>
                <th>Occured in File</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div></div></div>
<%- include ('./partials/footer'); %>
<script src="./truComponents/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="truComponents/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="js/datatable/dataTables.responsive.min.js"></script>
    <script src="js/datatable/responsive.bootstrap4.min.js"></script>
<script src="js/datatable/dataTables.buttons.min.js"></script>
<script src="js/datatable/buttons.bootstrap4.min.js"></script>
<script src="js/datatable/jszip.min.js"></script>
<script src="js/datatable/pdfmake.min.js"></script>
<script src="js/datatable/vfs_fonts.js"></script>
<script src="js/datatable/buttons.html5.min.js"></script>
<script src="js/datatable/buttons.print.min.js"></script>
<script src="js/datatable/buttons.colVis.min.js"></script>
<script src="api/admin/controllers/errorList.js"></script>
<script src="api/admin/controllers/verifyTPIN.js"></script>
<!-- /.content-wrapper --> 
</body>
</html>