.roundedsearch {
    border: 1px solid #d2d6de;
    border-radius: 25px;
    padding: 2px 12px;
}
.details{
    cursor: pointer;
}
.details h5{
    margin: 5px;
    margin-top: 0;
}
#txtsearch {
    border: none;
}

.btn-flat {
    background-color: transparent;
}

.invoice {
    margin: 0;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.showcontent {
    position: relative;
    display: inline-block;
}

.showcontent-content {
    top: -60px;
    height: 500px;
    width: 450px;
    position: absolute;
    background-color: #fff;
    transition: all .2s ease-in-out;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}


@media screen and (min-width: 1440px) {
    .showcontent-content {
        left:0%;
        width: 450px;
    }
  }
@media screen and (min-width: 1600px) {
    .showcontent-content {
        left:5%;
        width: 500px;
    }
}
@media screen and (min-width: 1680px) {
    .showcontent-content {
        left:10%;
        width: 500px;
    }
}
.showcontent-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .showcontent-content a:hover {
    background-color: #f1f1f1;
} */
.slide{
    display: none;
}

/* .showcontent:hover + .slide {
    display: block;

    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;

} */

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}


.subdiv {
    display: none;
}



#certDiv {
    height: 100%;
    background-image: url('../../images/certi/leftBottom.png'),
        url('../../images/certi/rightBottom.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left bottom, right top, top center, center 20%;
    background-size: auto, 40% auto, 30%, 40%;
}



@media print {
    #certDiv.print {
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        height: 100%;
        background-image: url('../../images/certi/leftBottom.png'),
            url('../../images/certi/rightBottom.png');
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left bottom, right top, top center, center 20%;
        background-size: auto, 40% auto, 30%, 40%;
    }

}

.detail,
#certi {
    cursor: pointer;
}

#mapcontainer {
    display: none;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-15%, -50%)
}

.imgcenter {
    height: 40px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headingcert {
    /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    position: absolute;
    top: 25%;
    
    left: 30%;
    transform: translate(-16%, -50%)
}

.headingcert h3 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.goldcenter {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
.details-images {
    width: 40px;
    height: 91px;
    text-align: center;
    color: #8b8b8b;
}

.details h3 {
    color: #3b3b3b;
    margin-left: 60px;
    margin-top: -100px;
    font-size: 16px;
}

.details h4 {
    color: #8b8b8b;
    margin-left: 60px;
    font-size: 13px;
    font-style: italic;
    margin-top: -18px;
}

.details {
    cursor: pointer;
}*/

.g1center {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 10px;
    background-color: #fff;
}

.centered {
    font-family: "-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*.g2center {
position: absolute;
top: 50%;
left: 50%;

}
.g3center {
position: absolute;
top: 60%;
left: 50;
}
.g4center {
position: absolute;
top: 70%;
left: 50%;

}  */