  <div class="input-group">
      <div class="input-group-addon">
          <i class="fa fa-search"></i>
      </div>
      <select class="form-control select2" id="cmbBank"> 
       <option value='0'>- Search Bank by Name -</option>
      </select>
  </div>
