<div class="summarycardfiltre">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      <select class="form-control select2" id="cmbConsumer">
        <option value='0'>- Search Consumer -</option>
      </select>
    </div>
  </div>
  <script src="api/admin/controllers/consumerList.js"></script>