<div class="col-sm-4 col-xs-12">
  <div class="input-daterange input-group input-group-sm" id="config-demo">
        <i class="input-group-addon b-0">
          <i class="fa fa-calendar"></i>
        </i>
        <span class="form-control"> </span>
        <i class="input-group-addon b-0">
          <a href="javascript:;" onclick="refreshClick();" class="text text-info">
            <span class="text text-info"><i title="Reset Filter" class="fa fa-times"></i></span>      
          </a>
        </i>
      <!--  <div class="col-xs-1"><a href="javascript:;" onclick="refreshClick();" class="text text-info">
        <span class="text text-info"><i title="Reset Filter" class="fa fa-2x fa-times"></i></span>      
      </a></div> -->
    </div>
 </div>  