  <div class="input-group">
      <div class="input-group-addon">
          <i class="fa fa-search"></i>
      </div>
      <select class="form-control select2" id="cmbPartner">
        <option value='0'>- Search Partner -</option>
      </select>
  </div>
<script src="api/admin/controllers/partnerList.js"></script>