<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Configuration Name</th>
            <th>Description</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Transfer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Self</td>
            <td>Please set access for partner self Operation.</td>
            <td>
                <a href="javascript:;" id="sbuy" data-type="select" data-title="Select Permission"
                    data-title="Buy" class="editable editable-click editable-disabled"
                    data-original-title="" title=""></a>
            </td>
            <td>
                    <a href="javascript:;" id="sTransfer" data-type="select" data-title="Select Permission"
                data-title="Transfer" class="editable editable-click editable-disabled"
                data-original-title="" title=""></a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Consumer</td>
            <td>Please set access for partner Consumer Operation.</td>
            <td>
                <a href="javascript:;" id="cbuy" data-type="select" data-title="Select Permission"
                    data-title="Buy" class="editable editable-click editable-disabled"
                    data-original-title="" title=""></a>
            </td>
            <td>
                <a href="javascript:;" id="credeemCash" data-type="select" data-title="Select Permission"
                data-title="Redeem Cash" class="editable editable-click editable-disabled"
                data-original-title="" title=""></a>
            </td>
            <td>
                <a href="javascript:;" id="cTransfer" data-type="select" data-title="Select Permission"
                data-title="Transfer" class="editable editable-click editable-disabled"
                data-original-title="" title=""></a>
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="2"><strong>Payment Gateway</strong></td colspan="2">
            <td colspan="2"><strong>Redeem to Wallet</strong></td>
            <td><strong>Wallet</strong></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Wallet</td>
            <td>Please set access to partner self Wallet.</td>
            <td colspan="2">
                <label class="custom-control custom-checkbox">
                    <input id="pg" type="checkbox" checked class="custom-control-input hidden">
                    <span class="custom-control-indicator"></span>
                </label>
            </td>
            <td colspan="2">
                <label class="custom-control custom-checkbox">
                    <input id="rWallet" type="checkbox" class="custom-control-input hidden">
                    <span class="custom-control-indicator"></span>
                </label>
            </td>
            <td>
                <a href="javascript:;" id="wallet" data-type="select" data-title="Select Permission"
                data-title="Wallet" class="editable editable-click editable-disabled"
                data-original-title="" title=""></a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Payment Gateway</td>
            <td>Please select Payment Gateway Here.</td>
            <td colspan="5">
                <a href="javascript:;" id="paymentGateway" data-type="select" data-title="Select Payment Gateway"
                data-title="paymentGateway" class="editable editable-click editable-disabled"
                data-original-title="" title=""></a>
            </td>
        </tr>
        
        <tr>
            <td colspan="3"></td>
            <td colspan="5"><strong>Access</strong>
            </td>
        </tr>
        
    
        <tr>
    </tbody>
</table>