<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/head'); %>
    <!--Entity List CSS-->
    <link
      rel="stylesheet"
      href="truComponents/datatables.net-bs/css/dataTables.bootstrap.min.css"
    />
    <link
      href="truComponents/bootstrap/dist/css/bootstrap-editable.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/entity/summary.css" />
    <link rel="stylesheet" href="css/entity/wizard.css" />
    
  </head>
  <body class="skin-blue fixed sidebar-mini sidebar-collapse">
    <div class="wrapper">
      <%- include ('./partials/header'); %>
      <div class="content-wrapper">
        <section class="content">
          <div class="loaderContainer" style="display:none;">
            <div class="loader"></div>
          </div>
          
          <div class="row">
            <%- include ('./entityTempList'); %>
          </div>
        </section>
      </div>
    </div>
    <%- include ('./partials/footer'); %>
    <script src="js/drawer.js"></script>
    <script src="truComponents/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="api/entityApi/controllers/dashboard.js"></script>
    <!--Entity List JS-->
    <script src="truComponents/bootstrap/dist/js/bootstrap-editable.min.js"></script>
    <script src="truComponents/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="truComponents/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="js/datatable/dataTables.responsive.min.js"></script>
    <script src="js/datatable/responsive.bootstrap4.min.js"></script>
    <script src="js/datatable/dataTables.buttons.min.js"></script>
    <script src="js/datatable/buttons.bootstrap4.min.js"></script>    
    <script src="api/entityApi/controllers/PartnerListExc.js"></script>
    <script src="api/entityApi/controllers/entityverification.js"></script>
  </body>
</html>
