<!DOCTYPE html>
<html>
  <head><%- include ('./partials/head'); %>
</head>
  <body class="skin-green fixed sidebar-mini sidebar-collapse">
    <div class="wrapper">
      <%- include ('./partials/header'); %>
      <div class="content-wrapper">
        <div class="row">
        <div class="col-md-12"> 
          <div class="box box-widget box-widgets"> 
            <div class="box-body"> 
              <h3 class="profile-username">Partner Permission
                    <div class="box-tools pull-right">                   
                            <a type="button" title="edit profile information" class="btn btn-box-tool" ><i class="fa fa-pencil"></i></a>
                    </div> 
              </h3>              
              <hr>
            </div>
        <div class="box-body">
        <div class="col-md-12">
                <h2><span class="text text-primary"> Comming Soon</span></h2>
 
        </div>
    </div> 
</div> 
</div> 
</div>
</div> 
    </div>
    <%- include ('./partials/footer'); %>
</body>
</html>