</div>
</div></div>
</div>
<%- include ('./footer'); %>
<script src="js/jspdf.min.js"></script>
<script src="truComponents/bootstrap/dist/js/bootstrap-editable.min.js"></script>
<script src="truComponents/bootstrap/dist/js/bootstrap-toggle.min.js"></script>
<script src="truComponents/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="js/consumer/searchValidation.js"></script>
<script src="js/consumer/addresses.js"></script>
<script src="api/admin/controllers/verifyTPIN.js"></script>
<script src="truComponents/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="truComponents/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
